@use "sass:meta";

html {
  font-size: 16px;
}

[data-theme="dark"] body {
  background-color: rgba(0, 0, 0, .9);
}

[data-theme="light"] body {
  background-color: #5A8FD6;
}

.text-outline-black {
  //   -webkit-text-stroke: .1rem black;
  //   text-stroke: .1rem black;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;

}

pre {
  word-wrap: normal;
}

pre code.hljs {
  border-radius: .5rem;
}

ol, ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

ol > li > ol {
  list-style-type: circle;
}

ol > li > ol > li > ol {
  list-style-type: square;
}

.main-panel {
  min-width: 0;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

[data-theme="dark"] .main-panel, .non-main-panel:not(.luckiest-guy) {
  background: rgba(0, 0, 0, .7) !important;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

[data-theme="dark"] .non-main-panel {
  border: 1px solid hsl(0 0% 100% / 0.15);
  border-radius: .75rem;
  box-shadow: inset 0 1px 2px hsl(0 0% 0% / 0.25);
}

.main-panel.offcanvas-start.show {
  // border-radius: 0 1rem 0 1rem;
}

.main-panel.offcanvas-end.show {
  // border-radius: 1rem 0 1rem 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@media (max-width: 992px) {
  .header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .footer {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.toc-item {
  margin-bottom: .5rem;
  margin-top: .5rem;
}

.flex-1 {
  flex: 1;
}

img#mod-icon {
  margin-top: -.75rem;
  margin-left: -.5rem;
}

h1 {
  font-weight: 800;
  margin-bottom: 1.5rem;
}

h2 {
  font-weight: 700;
  margin-bottom: 1.25rem;
}

h3 {
  font-weight: 600;
  margin-bottom: 1rem;
}

h4 {
  margin-bottom: .75rem;
}

h5 {
  margin-bottom: .5rem;
}

h6 {
  margin-bottom: .25rem;
}

img {
  max-width: 100%;
}

html[data-theme="light"] {
  @include meta.load-css("highlight.js/styles/tomorrow-night-blue");
}

html[data-theme="dark"] {
  @include meta.load-css("highlight.js/styles/github-dark");
}

.dark-mode-switch:hover {
  color: rgba(255, 255, 255, 1);
}

// Landscaper
@media (min-aspect-ratio: 16/9) {
  .dynamic-background {
    background-size: 100vw calc(9 / 16 * 100vw);
    background-position: center;
  }
}

// Portraiter
@media (max-aspect-ratio: 16/9) {
  .dynamic-background {
    background-size: calc(16 / 9 * 100vh) 100vh;
    background-position: center;
  }
}

.fs-smaller {
  font-size: smaller;
}

.fs-larger {
  font-size: larger;
}

.modal-xl#selectedMod h1 {
}

.modal-xl#selectedMod h1, .modal-xl#selectedMod h2, .modal-xl#selectedMod h3,
.modal-xl#selectedMod h4, .modal-xl#selectedMod h5, .modal-xl#selectedMod h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: var(--base-text-weight-semibold, 600);
  line-height: 1.25;
  padding-bottom: 0.3em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.nav-link {
  user-select: none;
}

@media (min-width: 992px) {
  .sticky-top-lg {
    //noinspection CssInvalidPropertyValue
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}

.hide-unless-hover {
  opacity: 0;
}

:is(h1:hover,h2:hover,h3:hover,h4:hover,h5:hover,h6:hover) .hide-unless-hover {
  opacity: 1;
}

[data-theme="dark"] .form-control {
  color: black !important;
}

.container-lg > div > .injectionDiv {
  border-radius: .5rem;
}

.blocklyMainBackground {
  stroke: none
}

.toc a {
  text-decoration: none;
  color: inherit;
}

.sidebar a {
  text-decoration: none;

}

/*[data-theme="dark"] .sidebar a {
  color: #8ea9e7;
}

[data-theme="light"] .sidebar a {
  color: #dadada;
}*/

[data-theme="dark"] {
  .btn-outline-light, .btd6-panel .form-control {
    --bs-btn-border-color: hsl(0 0% 100% / 0.1);
    --bs-btn-active-color: unset;
    --bs-btn-active-bg: unset;
    --bs-btn-active-border-color: hsl(200 100% 70%);
    --bs-btn-hover-color: unset;
    --bs-btn-hover-bg: unset;

    border: 1px solid hsl(0 0% 100% / 0.1) !important;
    border-radius: .75rem;
    box-shadow: inset 0 1px 2px hsl(0 0% 0% / 0.25);
  }
}

.btn-outline-light:hover, .btn-outline-light:active, .btn-outline-light:focus-within, .btd6-panel .form-control:hover, .btd6-panel .form-control:focus-visible {
  outline: none;
  border-color: hsl(200 100% 70%) !important;
  box-shadow: 0 0 0 2px hsl(200 100% 60% / 0.3) !important;
  transition: all 0.15s ease !important;
}

[data-theme="light"] .btd6-panel .form-control {
  &::placeholder {
    color: white !important;
  }
}

[data-theme="dark"] .btd6-panel .form-control {
  background-color: transparent;
  border-radius: .75rem;
  box-shadow: inset 0 1px 2px hsl(0 0% 0% / 0.25);

  color: white !important;

  &::placeholder {
    color: white !important;
  }
}

[data-theme="dark"] .dropdown-item {
  border-radius: .5rem;
}

.offcanvas-backdrop {
  position: absolute;
}